.image_main{
    background-color: #2d303a;
    margin: 0 auto;
    width: 100%;
    height: 668px;
  }
  .image__main_content{
    width: 92.15686%;
      margin: 0 auto;
      height: 601px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: minmax(220px auto);
      grid-column-gap: 20px;
      grid-row-gap: 16px;
      overflow: hidden;
  }
  .image__main_content_bottom{
    width: 100%;
    height: 6px;
    background-color: #313745;
  }