.header{
    height: 90px;
    background-color: #2d303a;
    @include media-mobile{
        height: 67px;
    }
   

}

.pseudo_head{
    height: 90px;
    margin: 0 auto;
 
   display: none;
   
}
#home{
    position: sticky;
    height: 90px;
    top: 0;
    z-index: 100;
    max-width: 100%;

   

}

.header_content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    align-items: center;
      width: 92.15678%;
    
    
}
.header_content_bottom{
    max-width: 100%;
   
    height: 5px;
    background-color: #323645;
   
}

.header_content_logo {
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-left: 0.48%;
    @include media-tablet{
        margin-left: 1.48%;
    }
    @include media-mobile{
        
        padding-left: 37%;
    margin-top: 4px;
    font-size: 19px;
    }
    
    
   
}

.boring-text::after {
    content: "*";
    color: red;
 }

.header_content_menu_navigation{
    margin: 0;
    padding: 0;
    
}

.tag_link{
    float: left;
    display: block;
    color: red;
    cursor: pointer;
}
.header_content_menu_navigation li a:hover{
   
    color: red;
 
}

.header_content_navigator{
    //margin-left: 20px;  //44.4%;
    margin-top: 0.91%;
    text-align: left;

    @include media-tablet{
        margin-top: 0px;
    }
    @include media-mobile{
        display: none;
    }
    

}

.tag{
    color: #ffffff;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
font-weight: 500;
text-decoration: none;
text-transform: uppercase;
//padding-left: 29px;
letter-spacing:  0.000002em;
text-align: justify;
margin-left: 0.980%;
padding: 5px;
@include media-tablet{
    margin-left: 7.98%;
    padding: 15px;
}


}

.active{
   border: 1px solid white;
   background-color: black;
   border-radius: 10px;
   
}