.header{
    height: 90px;
    background-color: #2d303a;
    

}

.pseudo_head{
    height: 90px;
    margin: 0 auto;
    width: 100%;
}
#home{
    position: fixed;
    width: 1020px;
    height: 90px;
    z-index: 100;

}

.header_content{
    display: flex;
     width: 93.137%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    
    
}
.header_content_bottom{
    width: 100%;
    height: 5px;
    background-color: #323645;
}

.header_content_logo {
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-left: 0.48%;
    
   
}

.boring-text::after {
    content: "*";
    color: red;
 }

.header_content_menu_navigation{
    margin: 0;
    padding: 0;
    
}

.tag_link{
    float: left;
    display: block;
    color: red;
    cursor: pointer;
}
.header_content_menu_navigation li a:hover{
   
    color: red;
 
}

.header_content_navigator{
    //margin-left: 20px;  //44.4%;
    margin-top: 0.91%;
    padding-left: 430px;
}

.tag{
    color: #ffffff;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
font-weight: 500;
text-decoration: none;
text-transform: uppercase;
//padding-left: 29px;
letter-spacing:  0.000002em;
text-align: justify;
margin-left: 10px;
padding: 5px;

}

.active{
   border: 1px solid white;
   background-color: black;
   border-radius: 10px;
   
}