
  .portfolio_title {
    font-size: 30px;
      line-height: 18px;
      color: #666d89;
      font-family: "Lato";
      font-weight: 900;
      text-align: justify;
      margin-top: 69px;
      letter-spacing: 0.02em;
      padding-left: 40px;

      @include media-mobile{
        margin-top: 52px;
        padding-left: 30px;
      }
  }
  .portfolio_text {
    margin-top: 30px;
      text-align: justify;
      font-family: "Lato";
      font-size: 18px;
      padding-left: 40px;
      padding-right: 40px;
      letter-spacing: 0.2px;
      word-spacing: -2.6px;
      color: #666d89;
      @include media-tablet{

        margin-top: 32px;
      }

      @include media-mobile{

        margin-top: 31px;
        padding-left: 30px;
        padding-right: 30px;
      }

    
  }

  .button {
    text-align: justify;
    letter-spacing: -0.2px;
    margin-right: 9px;
    border: 1px solid #666d89;
    border-radius: 3px;
    padding: 3px 6px 3px 6px;
    color: #666d89;


  }

  .portfolio_buttons {
    font-family: 'Lato';
    font-size: 12px;
    padding-left: 41.3px;
    margin-top: 20px;
    @include media-tablet{

      margin-top: 48px;
    }

    @include media-mobile{

      margin-top: 39px;
      padding-left: 30.3px;
    }
  }
  .button:hover {
    cursor: pointer;
    color: #c5c5c5;
    border-color: #c5c5c5;
  }
  .button_active {
    color: yellow;
    border-color: #c5c5c5;
   background-color: blue;
  }


 