
.slider {
    height: 600px;
    background-color: #f06c64;
    user-select: none;
    @include media-tablet{
       
        height: 456px;
    }
}

.slider_content {   
    width: 100%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.none {
    filter: brightness(0) opacity(1) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.all_phone {
    max-width: 100%;
    height: 594px;
    position: relative;
    margin: auto;

}

.slide {
    width: 100%;
    height: 594px;
}
.slide_1 {
    background-color: #f06c64;
    position: absolute;
    border-bottom: 6px solid #ea676b;
}
.slide_2 img {
    display: block;
    margin: 0 auto;
}
.slide_2 {
    background-color: #648BF0;
    position: absolute;
    border-bottom: 6px solid rgb(83, 121, 216);
}

.slider_phone {
    position: absolute;
    z-index: 1;
}

.phone_one {
    top: 53px;
    left: 112px;
    @include media-tablet {
        transform: scale(0.75, 0.75);
        top: 10.1%;
        left: 7.5%;
    }
}

.button_one {
    position: absolute;
    left: 198px;
    top: 460px;
    z-index: 2;
    @include media-tablet{
        left: 19.0%;
        top: 70.4%;
        z-index: 2;
        transform: scale(0.75);
    }
}

.slider_button:hover {
    cursor: pointer;
}

.button_two {
    position: absolute;
    left: 433px;
    top: 260px;
    z-index: 2;

    @include media-tablet{
        left: 41.5%;
    top: 45.5%;
    z-index: 3;
    transform: scale(0.75);
    }


}

.phone_two {
    transform: rotate(90deg);
    top: 52px;
    right: 258px;

    @include media-tablet{
        transform: scale(0.75, 0.75) rotate(90deg);
        top: 10.5%;
        right: 22%;
    }

   
}

.slider_shadow {
    opacity: 0.15;
    position: absolute;
}

.shadow_one {
    top: 53px;


    right: 668px;
    @include media-tablet{
        top: 10%;
        right: 62%;
        transform: scale(0.75, 0.75);
    }



}

.shadow_two {
    transform: scale(1, -1) rotate(90deg);

    top: 53px;


    right: 233px;
    @include media-tablet{
        transform: scale(-0.75, 0.75) rotate(90deg);
    top: 10.5%;
    right: 19%;
    }
 
}

.slider_img {
    position: absolute;
    @include media-tablet{
        transform: scale(0.55, 0.568);
    }
    z-index: 3;
}

.img_one {
    top: 115px;
    left: 123px;
    @include media-tablet{
        transform: scale(0.75, 0.75);
        top: 20.8%;
        left: 9%;
    }
}

.img_two {
    top: 185px;
    right: 199px;

    @include media-tablet{
        transform: scale(0.75, 0.75);
    top: 32.5%;
    right: 14.5%;
    }
    
  
}



.arrows {
    width: 1020px;
    top: -50%;
    position: relative;
    margin: 0 auto;
    @include media-tablet{
       max-width: 100%;
    }
}

.slider_arrow {
    position: absolute;
    z-index: 5;
    width: 20px;
    cursor: pointer;
}

.arrow_left {
    left: 0px;
    @include media-tablet{
        transform: scale(0.55, 0.568);
        left: 3.4%;
        bottom: -22px;
        /* bottom: 17%; */
        /* top: 10%; */
        width: 3%;
    }
}

.arrow_right {
    right: 0px;

    @include media-tablet{
        right: 3.5%;
        bottom: -13px;
        width: 1.7%;
    }

   
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.item {
    display: none;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.item.selected {
    display: block;
}

.item-container {
    overflow: hidden;
}

.selected,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

