@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/lato-v16-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('assets/fonts/lato-v16-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-ext-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }


  @font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?87898145');
    src: url('font/fontello.eot?87898145#iefix') format('embedded-opentype'),
         url('font/fontello.woff2?87898145') format('woff2'),
         url('font/fontello.woff?87898145') format('woff'),
         url('font/fontello.ttf?87898145') format('truetype'),
         url('font/fontello.svg?87898145#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;  
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?87898145#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-twitter:before { content: '\f099'; } /* '' */
  .icon-facebook:before { content: '\f09a'; } /* '' */
  .icon-linkedin:before { content: '\f0e1'; } /* '' */
  .icon-gplus:before { content: '\f30f'; } /* '' */
  *{
    margin: 0;
    padding: 0;
    word-spacing: 0;
}
body{
    margin: 0px;
    padding: 0px;
}
  .main_wrapper{
    width: 1020px;
   
    margin: 0 auto;
  }
  .header{
    background-color: #2d303a;
    margin: 0 auto;
    width: 100%;
      height: 196px;
      
  }
  
  .header_content{
    width: 92.15686%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 
  }
  .tittle{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
    margin-top: 69px;
    letter-spacing: 0.02em;
}
  

  .tittle_text{
   
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: 27px;
    letter-spacing: 0.002em;
    letter-spacing: 0.0001em;
    word-spacing: -1.5px;
  }


  .menu li{
    float: left;
    display: block;
    color: red;
    cursor: pointer;
}
.menu li a:hover{
   
    color: red;
 
}

.navigator{
  margin-top: 11px;
}
.menu li a{
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  /* padding-right: 10px; */
  border: solid 1px #767e9e;
  /* padding: 2px; */
  padding-left: 8px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-radius: 5px;
  letter-spacing: 0.000002em;
  text-align: justify;
  margin-right: 8px;
}
.menu li a:hover{
  border: solid 1px white;
  color: white;
}

.main{
  background-color: #2d303a;
  margin: 0 auto;
  width: 100%;
  height: 668px;
}
.image_block{
  width: 92.15686%;
    margin: 0 auto;
    height: 601px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(220px auto);
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    overflow: hidden;
}
.main_bottom{
  width: 100%;
  height: 6px;
  background-color: #313745;
}
.footer{
  width: 100%;
  height: 728px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.footer_bottom{
  max-width: 1020px;
  height: 6px;
  background-color: #ffffff;
  margin: 0 auto;
  
}
.footer_text_content{
  height: 218px;
  width: 92.15686% ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.foot_head_one{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin-top: 67px;
  letter-spacing: 0.02em;
  margin-left: 1px;
  word-spacing: -0.5px;
}
.foot_text_one{

  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-top: 28px;
  letter-spacing: 0.0001em;
  word-spacing: -1.5px;
}
.footer_photo_block{
  height: 300px;
  width: 92.15686% ;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
 
  grid-column-gap: 19px;

}
.error{
  margin-left: 2px;
}
.footer_photo_description{
  height: 170px;
  width: 92.15686% ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.description{
  width: 300px;
}
.foot_description_head_one{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 700;
  text-align: justify;
  margin-top: 16px;
  word-spacing: -1px;
  letter-spacing: 0.02em;
}

.foot_description_head_two{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 700;
  text-align: justify;
  margin-top: 16px;
  word-spacing: -1px;
  letter-spacing: 0.01em;
}
.foot_description_head_three{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 700;
  text-align: justify;
  margin-top: 16px;
  word-spacing: -1px;
  letter-spacing: 0.02em;
}
.foot_description_text_one, .foot_description_text_two, .foot_description_text_three{
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-top: 11px;
  word-spacing: -1px;
  letter-spacing: 0.001em;
}
.foot_description_head_three_icons{
  display: flex;
  width: 152px;
  margin-top: 22px;
}

.social_list li{
  display: inline-block;
  
}
.item_social{
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
border: 1px solid grey;
border-radius: 50%;
color: #6a718c;
}
.item_social:hover{
  border: 1px solid white;
  color: white;
}
.element_gplus{
  margin-left: 4px;
}
.element_twitter{
  margin-left: 4px;
}
.element_linkedin{
  margin-left: 4px;
}
.footer_bottom{

}