#slide {
    width: 512px;
    height: 512px;
    border: 1px solid black;
margin: 0 auto;
position: relative;
overflow: hidden;

}
.slide_single{
    width: 512px;
    height: 512px;
margin: 0 auto;
position: absolute;
transition: all ease 1s;
left: 0;
top: 0;
}