*{
    margin: 0;
    padding: 0;
    word-spacing: 0;
    
}
body{
    margin: 0px;
    padding: 0px;
}

.main_wrapper{
    max-width: 1020px;

    margin: 0 auto;
    @include media-tablet{
background-color: yellow;
        max-width: 768px;
        
    }
      
}
